__pycache__*/
.idea/
output/*
._*
*/._*
.pyc
.DS_Store
*.swp
.gd/
gt/
all_sub.zip
all_sub/
all_sub_2/
.gitignore
run_all.py
save.zip
submission.csv
submits
templates/index_.html
gt_VietST_word_baker_txt/
gt_VietST_word_baker_json/
extract_annot.py
test.py
gt_VietST_word_baker_txt_with_script
gt_VietST_word_baker_txt_with_script_v2